@media (min-width:400px)/*Portait Mobile*/
{
	
}

@media (min-width:1000px)/*Landscape PC*/
{
	.cx-pesquisa{
		padding:10px 0 0 0;
		
	}
	
	
	
	.bar-sup{
		height:;
		border-bottom:2px solid #008e98;
		padding:10px 0 10px 0;
	}
	
	.cx-itens{
		margin:0 0 0 90px;
	}
	
	.cx-contato{
		padding:35px 0 35px 0;
	}
	
	.txt-contato{
		font-size:15px;
	}
	
	.cx-reconhecimento{
		padding:30px 0 0 0;
	}
	
	.cx-area-restrita{
		padding:15px 0 10px 0;
		border-bottom:2px solid #008e98;
	}
	
	.text-area-restrita{
		padding:0 0 5px 0;
		font-size:15px;
		font-weight:bold;
		color:#36648B;
	}
	
	
	
	.cx-atuacao{
		background-color:#;
		padding:60px 0 60px 0;
	}
	
	.cx-servicos{
		margin:0 auto;
		padding:25px 50px 25px 50px;
		border:none;
	}
	
	.item-list-bar-sup{
		font-size:13px;
		margin:0 0 0 35px;
	}
	
	.item-list-bar-sup:first-child{
		margin:0 0 0 0;
	}
	
	.cx-slides{
		margin-top:25px;
		border-bottom:8px solid #008e98;
	}
}